services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: wavedb
      POSTGRES_PASSWORD: wavedbpassword
      POSTGRES_DB: wavedb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
